In [192]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
from IPython.display import display

In [216]:
Data_KPIs = pd.read_excel('Appointment Count of ALL Clinics in PHCs&Hospitals without walk-in.xlsx')

In [217]:
Data_KPIs.shape

(64515, 16)

In [218]:
Data_KPIs.head()

,directorate_name_ar,directorate_name,facility_name_ar,facility_name,facility_cd,facility_type_name_ar,facility_type_name,his,latitude,longitude,service_status_as_of_extraction,service_code,service_name_ar,service_name,direct_appt,virtual_appt
0,تجمع القصيم الصحي,Qassim Health Cluster,الاسكان ببريدة,Al Iskan,626.0,مراكز استشارية,MEGA PHC,True,26.38808,43.9323,Available,T15,عيادة طب أسنان عامة بالمراكز الصحية,General Dental Clinic in PHCs,1054.0,0.0
1,تجمع القصيم الصحي,Qassim Health Cluster,الاسكان ببريدة,Al Iskan,626.0,مراكز استشارية,MEGA PHC,True,26.38808,43.9323,Available,T14,عيادة طب الأسرة,Family Medicine Clinic,4154.0,0.0
2,تجمع القصيم الصحي,Qassim Health Cluster,الاسكان ببريدة,Al Iskan,626.0,مراكز استشارية,MEGA PHC,True,26.38808,43.9323,Available,T3,عيادة متابعة الحوامل,Maternity Follow up Clinic,259.0,0.0
3,تجمع القصيم الصحي,Qassim Health Cluster,الاسكان ببريدة,Al Iskan,626.0,مراكز استشارية,MEGA PHC,True,26.38808,43.9323,Available,T6,عيادة الطفل السليم وتطعيمات الأطفال,Well Baby and Vaccination Clinic,731.0,0.0
4,تجمع القصيم الصحي,Qassim Health Cluster,الاسكان ببريدة,Al Iskan,626.0,مراكز استشارية,MEGA PHC,True,26.38808,43.9323,Available,T970,عيادة تطعيم 6 أشهر,6 Months Vaccine,98.0,0.0

In [219]:
Data_KPIs.columns

Index(['directorate_name_ar', 'directorate_name', 'facility_name_ar',
       'facility_name', 'facility_cd', 'facility_type_name_ar',
       'facility_type_name', 'his', 'latitude', 'longitude',
       'service_status_as_of_extraction', 'service_code', 'service_name_ar',
       'service_name', 'direct_appt', 'virtual_appt'],
      dtype='object')

In [220]:
# coding for unique value 
# list of Mohid value for wazen ....
Data_KPIs_= ['directorate_name_ar']
for i in Data_KPIs_:
    Data_KPIs[i] 

Data_KPIs_activation = [99,100,535,192,201
                        ,534,536,200,277,219,216,2665,215,207,142,138,139,144,
                        145,3832,278,146,141,84,93,40,165,89,90,95
                        ,104,662,163,248,162,85,168,164,166,108,109,64,275,181,233,236,226,228
                        ,230,2768,231,2579,234,263,232,235,122,128,261,126,127,121
                        ,116,117,120,4414,174,173,244,1739,276,266,246,2619,2617,259,33,42,31,36,29,25,30,
                        28,26,41,35,4348,37,38,27,86,39,21,156,3862,76,74,77,260,75,
                        2668,71,72,3861,73,50,51]

Data_KPIs =Data_KPIs [Data_KPIs.facility_cd.isin(Data_KPIs_activation) == True ]

In [221]:
################################
# Saving Data To read The File #
###############################
Data_KPIs.to_csv('Data2333.csv', index=False)

In [222]:
################################
# Reading Data To read The File #
###############################
Waz_Data = pd.read_csv('Data2333.csv')

In [223]:
################################
# check the list mod id 108 shoud be..
###############################
Waz_Data.facility_cd.unique()

array([ 192.,  200.,  201.,  534.,  535.,  536.,  277.,  263., 2579.,
        226.,  228.,  230.,  231.,  232.,  233.,  234.,  235.,  236.,
        275.,  181.,  276.,  266.,  244.,  246., 1739.,  138.,  139.,
        141.,  142.,  144.,  145.,  146.,  278., 3832.,   21.,   25.,
         26.,   27.,   28.,   29.,   30.,   31.,   33.,   35.,   36.,
         37.,   38.,   39.,   40.,   41.,   42.,   50.,   51.,   64.,
         71.,   72.,   73.,   74.,   75.,   76.,   77.,   84.,   85.,
         86.,   89.,   90.,   93.,   95.,   99.,  100.,  104.,  108.,
        109.,  116.,  117.,  120.,  121.,  122.,  126.,  127.,  128.,
        156.,  162.,  163.,  164.,  165.,  166.,  168.,  173.,  174.,
        207.,  215.,  216.,  219.,  248.,  259.,  260.,  261.,  662.,
       2665., 2668., 3861., 3862., 2768., 2617., 2619., 4414., 4348.])

In [224]:
################################
# Droping Columns To read The File #
###############################
Waz_Data.drop(['directorate_name_ar',
       'facility_name_ar', 'facility_type_name_ar',
       'facility_type_name', 'his', 'latitude', 'longitude',
       'service_status_as_of_extraction', 'service_code', 'service_name_ar',
       'service_name'],axis =1, inplace = True)

In [225]:
# Data Frame columns that We have 
Waz_Data.head()

,directorate_name,facility_name,facility_cd,direct_appt,virtual_appt
0,Asir Health Affairs,Al Barak Hospital,192.0,154.0,0.0
1,Asir Health Affairs,Al Barak Hospital,192.0,28.0,0.0
2,Asir Health Affairs,Al Barak Hospital,192.0,3.0,0.0
3,Asir Health Affairs,Al Barak Hospital,192.0,162.0,0.0
4,Asir Health Affairs,Al Barak Hospital,192.0,230.0,0.0

In [265]:
dfgroup2 =Waz_Data.groupby(['directorate_name','facility_name','facility_cd']).agg({'direct_appt': 'sum','virtual_appt': 'sum'})
dfgroup2.head()
dfgroup2.columns = [['Direct_appt','Virtu-appt']]

In [266]:
dfgroup2.head()

                                                              Direct_appt  \
directorate_name      facility_name               facility_cd
AlAhsa Health Cluster Al Jafar Hospital           99.0             3460.0
                      Madinet Al-Oyoun Hospital   100.0            3754.0
Asir Health Affairs   Al Barak Hospital           192.0            1698.0
                      Al Harejah General Hospital 534.0            1394.0
                      Al Qahmah Hospital          200.0            1881.0

                                                              Virtu-appt
directorate_name      facility_name               facility_cd
AlAhsa Health Cluster Al Jafar Hospital           99.0               0.0
                      Madinet Al-Oyoun Hospital   100.0              0.0
Asir Health Affairs   Al Barak Hospital           192.0              0.0
                      Al Harejah General Hospital 534.0              0.0
                      Al Qahmah Hospital          200.0              0.0

In [276]:
dfgroup2.to_csv('Result.csv')

In [ ]:
# reading data form wazen file ....

In [327]:
df = pd.read_csv('result1.csv')

In [328]:
df['Percentage'] = df['Virtu-appt'] / df['Direct_appt'] * 100

In [329]:
df.head()

,directorate_name,facility_name,facility_cd,Direct_appt,Virtu-appt,Percentage
0,AlAhsa Health Cluster,Al Jafar Hospital,99,3460,0,0.0
1,AlAhsa Health Cluster,Madinet Al-Oyoun Hospital,100,3754,0,0.0
2,Asir Health Affairs,Al Barak Hospital,192,1698,0,0.0
3,Asir Health Affairs,Al Harejah General Hospital,534,1394,0,0.0
4,Asir Health Affairs,Al Qahmah Hospital,200,1881,0,0.0

In [333]:
df.head(40)

,directorate_name,facility_name,facility_cd,Direct_appt,Virtu-appt,Percentage
0,AlAhsa Health Cluster,Al Jafar Hospital,99,3460,0,0.000000
1,AlAhsa Health Cluster,Madinet Al-Oyoun Hospital,100,3754,0,0.000000
2,Asir Health Affairs,Al Barak Hospital,192,1698,0,0.000000
3,Asir Health Affairs,Al Harejah General Hospital,534,1394,0,0.000000
4,Asir Health Affairs,Al Qahmah Hospital,200,1881,0,0.000000
5,Asir Health Affairs,Al-Furshah Hospital,201,1314,0,0.000000
6,Asir Health Affairs,Hospital Alamadh,536,1710,10,0.584795
7,Asir Health Affairs,Hospital Blhamr,535,1303,0,0.000000
8,Asir Health Affairs,Tanomeh Hospital,277,1608,0,0.000000
9,Baha Health Affairs,Al Qura General Hospital,2665,1741,0,0.000000
10,Baha Health Affairs,Al-Akeek General Hospital,219,2587,0,0.000000
11,Baha Health Affairs,MandaQ General Hospital,216,2995,0,0.000000
12,Baha Health Affairs,Quolowah General Hospital,215,3294,0,0.000000
13,Bisha Health Affairs,Al Bashaer General Hospital,207,845,0,0.000000
14,Eastern Health Cluster,Abqaiq General Hospital,85,2635,0,0.000000
15,Eastern Health Cluster,Al Naeriyah Hospital,84,3878,0,0.000000
16,Eastern Health Cluster,Al Qariya Al Ulya General Hospital,93,1631,0,0.000000
17,Eastern Health Cluster,Al-Rafee'ah General Hospital,86,1546,0,0.000000
18,Eastern Health Cluster,Prince Sultan Hospital-'Areerah,90,1605,0,0.000000
19,Eastern Health Cluster,Prince Sultan Hospital-Melija,89,2350,0,0.000000
20,Eastern Health Cluster,Ras Tanura General Hospital,95,4346,0,0.000000
21,Eastern Health Cluster,Salwa Hospital,104,498,0,0.000000
22,Hafer AlBatin Health Affairs,Al Quaysooma Hospital,108,1711,0,0.000000
23,Hafer AlBatin Health Affairs,Al Saeera Hospital,109,273,0,0.000000
24,Hail Health Cluster,Al Ghazaleh Hospital,168,682,0,0.000000
25,Hail Health Cluster,Al Salimy Hospital,162,886,0,0.000000
26,Hail Health Cluster,Al Shamlly Hospital,163,889,0,0.000000
27,Hail Health Cluster,Al-Shanan Hospital,248,1324,0,0.000000
28,Hail Health Cluster,Alhaet General Hospital,662,3098,0,0.000000
29,Hail Health Cluster,Baqaa General Hospital,165,2940,0,0.000000
30,Hail Health Cluster,Mawqaq Hospital,164,1246,0,0.000000
31,Hail Health Cluster,Sameeraa Hospital,166,552,0,0.000000
32,Jazan Health Affairs,Ahad Al Mosaraha Hospital,233,3073,567,18.451025
33,Jazan Health Affairs,Al Aardah hospital,230,3645,852,23.374486
34,Jazan Health Affairs,Al Darb General Hospital,231,4959,148,2.984473
35,Jazan Health Affairs,Al Mawsim Hospital,234,2114,660,31.220435
36,Jazan Health Affairs,Al Tawaal General Hospital,232,2904,576,19.834711
37,Jazan Health Affairs,AlHarth Hospital,2579,1916,754,39.352818
38,Jazan Health Affairs,Bani Malik General Hospital,235,4030,972,24.119107
39,Jazan Health Affairs,Damad General Hospital,236,3916,591,15.091931

In [335]:
df.directorate_name.shape()

(108,)

In [332]:
# change color 
def color_negative_red(value):
    if value <= 10:
        color = 'red'
    elif value >= 10.01:
        color = 'Yellow'
    else:
        color = 'Green'
    return 'color: %s' % color
df.style.applymap(color_negative_red, subset=['Percentage'])

In [346]:
# Vsulaztion : 
# The TOP 10 HOSPITAL 
# create a dashboard ...... 
import plotly.express as px
px.bar(df,              # our dataframe
       x="directorate_name",         # x will be the 'key' column of the dataframe
       y="Percentage",   # y will be the 'doc_count' column of the dataframe
       title=f"The Top most activity - Cluster  in the last Quirter one",
       labels={"directorate_name": "facility_name","Percentage": "Subreddits"}, # the axis names
       color_discrete_sequence=["blueviolet"], # the colors used
       height=500,
       width=800)